<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.lrh.AuthorityControl.handler"/>

    <!-- 配置SpringMVC标配：注解驱动 -->
    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:view-controller path="/index.html" view-name="AuthorityControl/login/login"></mvc:view-controller>
    <mvc:view-controller path="/main/to/page" view-name="AuthorityControl/common/main"></mvc:view-controller>
    <mvc:view-controller path="/user/to/add/page" view-name="AuthorityControl/user/user-add"></mvc:view-controller>
    <mvc:view-controller path="/role/to/page" view-name="AuthorityControl/role/role-page"></mvc:view-controller>
    <mvc:view-controller path="/menu/to/page" view-name="AuthorityControl/menu/menu-page"></mvc:view-controller>
    <mvc:view-controller path="/depart/to/page" view-name="AuthorityControl/depart/depart-page"></mvc:view-controller>

    <mvc:view-controller path="/customer/to/add/page" view-name="KnowledgeControl/customer/customer-add"></mvc:view-controller>
    <mvc:view-controller path="/customerRole/to/add/page" view-name="KnowledgeControl/customerRole/customerRole-add"></mvc:view-controller>

</beans>